<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PEARL JAM</title>
<!-- 

Letter Template 

https://templatemo.com/tm-510-letter



Template Re-distribution is NOT allowed.

-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="../static/letter_static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/letter_static/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="../static/letter_static/css/demo.css" />
  <link rel="stylesheet" href="../static/letter_static/css/templatemo-style.css">
  
  <script type="text/javascript" src="../static/letter_static/js/modernizr.custom.86080.js"></script>
		
	</head>

	<body>

			<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>Pearl Jam</h1></header>
					<h5 style="color: orange;">By Team Pied Piper</h5>
					<br>
					<P class="mb-5">Your goto Digital Education Tool.<br>Curiousity & Wisdom at your fingers.</P>
					<br>
                    <form action="{{ url_for('report') }}" method="post" class="subscribe-form">
               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input name="topic_name" type="text" class="form-control" id="contact_email" placeholder="What would you like to know?" required/>
				  			</div>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<button type="submit" class="tm-btn-subscribe">USE THE TOOL</button>
							</div>
						
						</div>
                    </form>


					</div>
				</div>	
	</body>

	<script type="text/javascript" src="../static/letter_static/js/particles.js"></script>
	<script type="text/javascript" src="../static/letter_static/js/app.js"></script>
</html>